*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.parent {
  color: white;
  background-color: #23424a;
  padding: 50px;
  /* width: 900px; */
  width: 80%;
  margin: 0 auto;
  padding: 5em;
}

.child {
  /* background-color: #38cfd9; */
  /* width: 750px; */
  width: 50%;
  /* height: 250px; */
}
